@media screen and (max-width: 660px) {
    .headers {
        display: flex;
        height: 100%;
        overflow-y: hidden;
    }

    #SFG_headers {
        height: auto;
    }

    .sl-slider {
        height: 100%;
    }

    .demo-2 .bg-img-1 {
        height: 100%;
        width: 100%;
        /*background-image: url("https://drive.google.com/uc?export=view&id=10-PoC9euppmRsuc05i-lf4nKANHWhfkU");*/
        background-image: url("/resources/img/title_st_adapt_1_change.jpg");
        background-size: 125%;
        background-repeat: no-repeat;
    }

    .demo-2 .bg-img-2 {
        height: 100%;
        width: 100%;
        /*background-image: url("https://drive.google.com/uc?export=view&id=1TOgfTZ8otJEaQVgtxgY07QG9WfmbSE2s");*/
        background-image: url("/resources/img/title_st_adapt_2_change.jpg");
        background-size: 125%;
        background-repeat: no-repeat;
    }

    .demo-2 .bg-img-3 {
        height: 100%;
        width: 100%;
        /*background-image: url("https://drive.google.com/uc?export=view&id=1TOgfTZ8otJEaQVgtxgY07QG9WfmbSE2s");*/
        background-image: url("/resources/img/title_st_adapt_3_change.jpg");
        background-size: 125%;
        background-repeat: no-repeat;
    }

    .demo-2 .bg-img-4 {
        height: 100%;
        width: 100%;
        /*background-image: url("https://drive.google.com/uc?export=view&id=1TOgfTZ8otJEaQVgtxgY07QG9WfmbSE2s");*/
        background-image: url("/resources/img/title_st_adapt_4_change.jpg");
        background-size: 125%;
        background-repeat: no-repeat;
    }

    .demo-2 .bg-img-5 {
        height: 100%;
        width: 100%;
        background-position-y: -21px;
        background-position-x: -60px;
        /*background-image: url("https://drive.google.com/uc?export=view&id=1TOgfTZ8otJEaQVgtxgY07QG9WfmbSE2s");*/
        background-image: url("/resources/img/title_st_adapt_5_change.jpg");
        background-size: 125%;
        background-repeat: no-repeat;
    }


    /*       FEATURE        */
    .features {
        height: 100%;
        width: 100%;
        margin: 0;
        overflow-y: hidden;
    }

    .usMy {
        height: 100%;
        width: 100%;
        /*background-image: url("https://drive.google.com/uc?export=view&id=1VlAmY_adzeFk-CevCZO8DyPabE9JPdis");*/
        background-image: url("/resources/img/us_my_adapt.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .mobile-tab {
        height: auto;
        position: absolute;
        z-index: 100;
    }

    /*       Information block      */
    .col__information {
        width: 100%;
        /*min-height: 400%;*/
        /*max-height: 420%;*/
        display: block;
        justify-content: center;
        padding: 0;
        padding-bottom: 40px;
        overflow-y: hidden;
    }

    #col_info {
        height: auto;
    }

    .border__info__1 {
        width: 100%;
        height: 80%;
        display: block;
        justify-content: center;
        /*background-image: url("https://drive.google.com/uc?export=view&id=1OnNaQ3VdxfwWQxVba2LkjPXrSNGCMsmR");*/
        background-image: url("/resources/img/theme_title_1.jpeg");
        background-size: 100%;
        background-attachment: local;
        background-repeat: no-repeat;
        background-position-x: 0;
        background-position-y: -120px;
        margin: 0;
        padding: 0;
    }

    .border__info__2 {
        min-width: 100%;
        height: 80%;
        display: block;
        justify-content: center;
        /*background-image: url("https://drive.google.com/uc?export=view&id=1AdIpnOaV0wX4yOIlxs_QZPf-E5ZZJhvs");*/
        background-image: url("/resources/img/theme_title_2_adapt.jpeg");
        background-size: 100%;
        background-attachment: local;
        background-repeat: no-repeat;
        background-position-x: 0;
        background-position-y: -10px;
        margin: 0;
        padding: 0;
    }

    .border__info__3 {
        width: 100%;
        height: 80%;
        display: block;
        justify-content: center;
        /*background-image: url("https://drive.google.com/uc?export=view&id=1OnNaQ3VdxfwWQxVba2LkjPXrSNGCMsmR");*/
        background-image: url("/resources/img/theme_title_3.jpeg");
        background-size: 100%;
        background-attachment: local;
        background-repeat: no-repeat;
        background-position-x: 0;
        background-position-y: -120px;
        margin: 0;
        padding: 0;
    }

    .container.row {
        margin-right: 0;
        margin-left: 0;
    }

    #wrap {
        flex-wrap: wrap-reverse;
        margin-left: 0;
        margin-right: 0;
    }

    #wrap_2 {
        margin-left: 0;
        margin-right: 0;
    }

    /* Col - lg - 6*/
    .col-lg-6 {
        padding-right: 0;
        padding-left: 0;
    }

    /****************/
    .content__info__1 {
        display: block;
        justify-content: center;
        width: 100%;
        /*height: 23%;*/
        margin: 0;
        padding: 30px 10px 20px 10px;
        text-align: center;
    }

    .content__info__1 h2, .content__info__2 h2 {
        line-height: 1.6;
    }

    .content__info__2 {
        display: block;
        justify-content: center;
        width: 100%;
        /*height: 27%;*/
        margin: 0;
        padding: 50px 10px 20px 10px;
        text-align: center;
    }

    .bottom {
        align-items: center;
    }

    #btn_1 {
        width: 50%;
        display: flex;
        justify-content: center;
        margin-left: 25%;
        margin-top: 8%;
    }

    #btn_2 {
        display: none;
    }

    /* Local Cherch */
    .cherch {
        overflow-y: hidden;
    }

    .local__cherch {
        display: block;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        /*background-image: url("https://drive.google.com/uc?export=view&id=1uAzdAVQoWwk6fCwm2hCpKhQKFqRAwPXy");*/
        background-image: url("/resources/img/cityCherch.jpg");
        background-size: 480%;
    }

    .cherch__title {
        font-size: 9vmin;
        width: 100%;
        text-align: center;
        padding: 10% 5px 0 5px;
        height: 30%;
    }

    .cherch__info {
        font-size: 6vmin;
        width: 100%;
        text-align: center;
        line-height: 1.5em;
        height: 50%;
        margin: 0;
        padding: 10% 5px 0 5px;
    }

    .local__cherh__btn {
        margin-top: 20px;
        padding: 5px 10px 5px 10px;
        border-radius: 10px;
        font-size: 4vmin;
    }

    /* Send My*/
    .contact {
        display: block;
        justify-content: center;
        height: auto;
        padding-left: 2%;
        padding-right: 2%;
        overflow-y: hidden;
    }

    #contact_1 {
        margin-left: 0;
        margin-right: 0;
    }

    #contact_2 {
        margin-left: 0;
        margin-right: 0;
    }

    #con_form {
        padding-right: 0;
        padding-left: 0;
    }

    .container {
        display: block;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .contact__us {
        width: 100%;
        padding: 10px 10px;
    }

    .hr_1 {
        justify-content: center;
        width: 40%;
        margin-left: 30%;
    }

    .contact__info {
        width: 100%;
        padding: 10px 10px;
        text-align: center;
    }

    .send__title {
        text-align: center;
    }

    .form {
        display: block;
        justify-content: center;
    }

    .form__name {
        width: 98%;
        height: 45px;
        margin-bottom: 10px;
        text-align: start;
        padding-left: 15px;
    }

    .form__email {
        width: 98%;
        height: 45px;
        margin-bottom: 10px;
        text-align: start;
        padding-left: 15px;
        margin-left: 0;
    }

    .input_text {
        display: block;
        justify-content: center;
    }

    .form__message {
        width: 98%;
        height: 30%;
        padding-top: 10px;
        padding-left: 15px;
        margin-top: 5px;
    }

    .form__button {
        width: 50%;
        /*margin-left: 25%;*/
    }
    #title_send_button{
        margin-left: 25%;
    }

    /* Donat */
    .donat {
        overflow-y: hidden;
        width: 100%;
        height: auto;
        /*background-image: url("https://drive.google.com/uc?export=view&id=1Pwb9oh5ii9DUpgnza7cQHpoqwGo6a-lL");*/
        background-image: url("/resources/img/donat.jpeg");
        background-position-y: -12px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 270%;
    }

    .donat__title {
        width: 100%;
        margin-top: 15%;
        font-size: 12vmin;
    }

    .donat__info {
        padding: 20px 25px;
    }

    .local__donat__btn {
        margin-bottom: 60px;
    }

    .contact.container.row {
        margin-left: 0;
        margin-right: 0;
    }

    .contact.container.row.col-lg-6 {
        padding-left: 0;
        padding-right: 0;
    }

    .donat_id {
        margin-right: 0;
        margin-left: 0;
    }

    .cols_id {
        padding-left: 0;
        padding-right: 0;
    }

    .gradient {
        display: block;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .footer__menu {
        width: 100%;
        height: 40%;
        margin: 0 auto;
        margin-bottom: 10vmin;
    }

    .grad__info {
        width: 100%;
        height: 100%;
        margin: 0;
        display: block;
        justify-content: center;
        line-height: 12vmin;
    }

    .grad__info a {
        font-size: 7vmin;
    }

    .grad__info a:hover {
        cursor: pointer;
    }

    #gradient_wrap {
        flex-wrap: wrap-reverse;
    }

    .footer__logo {
        width: 100%;
        height: 20%;
        background-size: 85%;
        margin: 0;
        background-position-x: 40%;
        margin-top: 50px;
    }

    .footers {
        padding: 15px 5px;
        text-align: center;
    }


    /**********************************************************/
    /*    TGSG Title*/
    /**********************************************************/
    /*Headers*/
    #SFG_headers {
        height: auto;
        margin-bottom: 9%;
    }

    .search__img {
        background-image: url("/resources/img/theme_1_adapt.jpeg");
        height: 50%;
        /*background-position-y: 50px;*/
        /*background-position-x: -250px;*/
        background-size: 100%;
        background-color: #3b5998;
    }

    .hr__search {
        width: 50%;
        margin-left: 25%;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .container__info {
        min-width: 90%;
    }

    .info__1 {
        text-align: center;
    }

    .search__video {
        height: 40%;
        margin: 10% 0;
    }

    .search__video iframe {
        height: 100%;
    }


    /*Search Message*/
    .send {
        width: 90%;
    }
    #contact_send{
        width: 90%;
        margin-left: 5%;
    }
    .search__global__title {
        text-align: center;
    }

    .search__wiches p {
        text-align: center;
    }


    /**********************************************************/
    /*    About Us Title*/
    /**********************************************************/
    /*Headers*/
    #AboutUas_id {
        height: auto;
        margin-bottom: 9%;
    }

    .about__us {
        margin-top: 20px;
    }

    .hr__search {
        margin-top: 8%;
        background-color: #4e555b;
    }


    /**********************************************************/
    /*    Donat Title*/
    /**********************************************************/
    #donat_head {
        display: block;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .donats {
        padding-top: 20%;
        padding-bottom: 20%;
        height: auto;
    }

    .hr__donat {
        width: 40%;
        margin-left: 30%;
        border-top: 2px solid rgba(0, 0, 0, .1)
    }

    .donations {
        height: auto;
        padding: 20% 5%;
    }

    .donat__text {
        margin-bottom: 0;
    }

    .info {
        padding: 15% 0;
    }

    #donat_info_1 {
        font-size: 5vmin;
    }


    /**********************************************************/
    /*    Contacts Title*/
    /**********************************************************/
    #contact_head{
        height: auto;
    }
    .hr__{
        height: auto;
        padding-bottom: 10%;
    }
    .city{
        text-align: center;
    }
    .contact__city{
        width: 90%;
        margin-left: 5%;
        padding: 11px 0 0 0;
        font-size: 25px;
    }
    .container__info{
        width: 100%;
    }
    .address__info__hr{
        width: 90%;
        margin-left: 5%;
    }

}